<div style="display:flex;justify-content:flex-end;align-items:center;margin-bottom:15px">
    <h3 style="padding:0;margin:0 10px 0 0">
        <label for="ctrl_faFilter">{{ 'MSC.faIconFilter'|trans({}, 'contao_default') }}</label>
    </h3>
    <input type="text" id="ctrl_faFilter" class="tl_text" style="max-width:200px">
</div>

<div id="iconBox">
    <input type="hidden" id="ctrl_faIcon" name="{{ name }}" value="{{ input_value }}">
    <div id="iconBoxInner">
        {% for icon in icons %}
            <div title="{{ icon.fa_id }}" class="font-awesome-icon-item{{ icon.fa_attr_selected }}">
                <div class="font-id-title">{{ icon.fa_id }}</div>
                <i class="fa-2x fa-fw {{ icon.fa_style }} {{ icon.fa_class }}"></i>
                <div class="faStyleBox">
                    {% for style in icon.fa_styles %}
                        <div class="faStyleButton{{ style.style_attr_selected }}" role="button" title="{{ icon.fa_id }}" data-falabel="{{ icon.fa_label }}" data-faiconunicode="{{ icon.fa_unicode }}" data-faiconprefix="{{ style.style_prefix }}" data-faiconname="{{ icon.fa_id }}">{{ style.style_shortcut }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
